.photoBgContainer{
    width: 100%;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#photoBgContainer--gray{
    position: absolute;
    color: aliceblue;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 500px;
}
#photoBgContainer__header{
    position: absolute;
    color: aliceblue;
    font-size:22px;
    width: 50%;
    text-align: left;
    margin-left: 80px;
}
#photoBgContainer__searchBar{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width:1100px) {
    #photoBgContainer__header{
        font-size: 19px;
    }
}
@media (max-width:720px) {
    #photoBgContainer__header{
        font-size: 15px;
    }
}
@media (max-width:490px) {
    #photoBgContainer__header{
        width: 60%;
        font-size: 14px;
        margin-left: 50px;
    }
}