.listingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px;
}
@media screen and (max-width: 1000px) {
  .listingContainer {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
}
@media screen and (max-width: 460px) {
  .listingContainer {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
